{% extends "base.html" %} 
{% block title %}blogs{% endblock title %}
{% block body %}

<div class="alert alert-primary" role="alert">
  WORKOUT TIPS FOR BIGENNER AS WELL AS ADVANCE
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQJaqwcttgYCmaM6MdTr6skDmQUC-uoWudlA&s"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">CHEST WORKOUT</h5>
          <p class="card-text">
            build your chest with proper guidence and with the personlize
            trainer.
          </p>
          <a
            href="https://youtu.be/dPb9JxFMuuE?si=6D1vfsS3mPHwgd1c"
            class="btn btn-primary"
            >WATCH HERE</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://i.ytimg.com/vi/79Xln9LtaRU/hqdefault.jpg?v=642dceda"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">back workout</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="https://youtu.be/79Xln9LtaRU?si=rIUPfzMhpAGEA7bp"
            class="btn btn-primary"
            >WATCH HERE</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="https://i.ytimg.com/vi/79Xln9LtaRU/hqdefault.jpg?v=642dceda"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">back workout</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="https://youtu.be/79Xln9LtaRU?si=rIUPfzMhpAGEA7bp"
            class="btn btn-primary"
            >WATCH HERE</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkqqVWm7eHp3fB5qihG0p5fQ9-AgG6Qd1MCA&s"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">LEGS WORKOUT</h5>
            <p class="card-text">
              LEGS quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="https://youtu.be/VSgwC3WAoS4?si=RgLyluNTkyY_IQL2"
              class="btn btn-primary"
              >WATCH HERE</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}
