{% extends "base.html" %}
{% block title %}services{% endblock title%}
{% block body %}

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Personal Training
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <strong>Personal Training:</strong> Our certified personal trainers are here to provide guidance, support, and personalized workout plans. They will work with you to create a program that targets your specific goals, whether it's weight loss, muscle gain, or overall fitness improvement.
          <code>#fitgamervlogs</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Group Classes
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <strong>Group Classes:</strong>Join our diverse range of group fitness classes including yoga, Pilates, Zumba, spinning, and more. Led by enthusiastic instructors, these classes are designed to keep you motivated while improving your strength, flexibility, and cardiovascular health.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Nutritional Guidance
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <strong>Nutritional Guidance</strong> Achieving your fitness goals goes hand-in-hand with proper nutrition. Our nutrition experts offer personalized guidance and meal planning advice to help you maintain a balanced diet that supports your fitness journey.
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.thimble.com/wp-content/uploads/2022/05/Personal-Trainer-Salary-Guide.jpg?w=186" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2kxpLExJJTlHaK_iw6Y3jJKGlZCp-woh5EOUHB5TXWtFoLneitJw6FjT9p4KM881TF4c&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://hips.hearstapps.com/hmg-prod/images/mh-trainer-2-1533577086.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgKZ1K94GeiX6FM5PivPujx8CtjAxMqO1ZBQ&s" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

        </div>
    </div>
</div>

{% comment %} 
  trainers cards {% endcomment %}




{% endblock body %}